<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="icon" href="{{ site.favicon }}">

<title>{{ page.title }} | {{site.name}}</title>

{% seo %}

<link href="{{ '/assets/css/screen.css' }}" rel="stylesheet">

<!-- defer loading of these non critical styles -->
<link rel="preload" href="{{ '/assets/css/main.css' }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="{{ '/assets/css/main.css' }}"></noscript>

<!-- This page will be integrated in an iframe. This script enables the page to tell the parent container its size -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/4.3.2/iframeResizer.contentWindow.min.js"></script>
<!-- This page will be integrated in an iframe. Open the links inside the parent -->
<base target="_parent">

</head>


<body>

    {{ content }}

</body>
</html>
